In [71]:
import pandas as pd
import numpy as np

In [72]:
data=pd.read_csv("spam.csv", encoding="latin-1")

In [73]:
data.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [74]:
data.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [75]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [76]:
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [77]:
data['class']=data['class'].map({'ham':0, 'spam':1})

In [78]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [79]:
from sklearn.feature_extraction.text import CountVectorizer

In [80]:
from sklearn.model_selection import train_test_split

In [81]:
X=data['message']
y=data['class']

In [82]:
X.shape

(5572,)

In [83]:
y.shape

(5572,)

In [84]:
data.isnull().sum()

class      0
message    0
dtype: int64

In [85]:
cv=CountVectorizer()

In [86]:
X=cv.fit_transform(X)

In [87]:
x_train, x_test,y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=42)

In [88]:
x_train.shape

(4457, 8672)

In [89]:
x_test.shape

(1115, 8672)

In [90]:
from sklearn.naive_bayes import MultinomialNB

In [91]:
model=MultinomialNB()

In [92]:
model.fit(x_train, y_train)

MultinomialNB()

In [93]:
model.score(x_test, y_test)

0.97847533632287

In [111]:
msg="You Won 500$"
data = [msg]
vect = cv.transform(data).toarray()
my_prediction = model.predict(vect)

In [112]:
vect

array([[0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [114]:
import pickle
pickle.dump(model, open('spam.pkl','wb'))
model1 = pickle.load(open('spam.pkl','rb'))

In [123]:
from win32com.client import Dispatch

In [124]:
def speak(text):
	speak=Dispatch(("SAPI.SpVoice"))
	speak.Speak(text)

In [134]:
def result(msg):
    data = [msg]
    vect = cv.transform(data).toarray()
    my_prediction = model1.predict(vect)
    if my_prediction[0]==1:
        speak("This is a Spam mail")
        print("This is a Spam mail")
    else:
        speak("This is not a Spam mail")
        print("This is not a Spam mail")

Enter Your Text: You are lucky win 500 taka
This is a Spam mail

In [135]:
import tkinter as tk

In [146]:
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gardening Website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>Welcome to Our Gardening Website</h1>
            <p>Your go-to resource for all things gardening.</p>
        </section>
        <section class="content">
            <h2>Latest Articles</h2>
            <div class="articles">
                <article>
                    <h3>How to Grow Tomatoes</h3>
                    <p>Learn the best techniques for growing tomatoes in your garden.</p>
                </article>
                <article>
                    <h3>Top 10 Indoor Plants</h3>
                    <p>Discover the best indoor plants to brighten up your home.</p>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Gardening Website. All rights reserved.</p>
    </footer>
</body>
</html>